#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -10px;
}

#friends-display-link i{
    color: var(--gray-font);
}
.freinds-dispay__chevron,
.friends-display__info {
    bottom: -3px;
    position: relative;
}
.friends-screen {
    padding: 0px var(--horizontal-space); 
}
.friends-screen__channel-header {
    display: flex;
}
.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px; /* 보더에서 안쪽으로 간격을 주려면 padding을 사용해야 함 */
}
.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh; /* 100vh: 화면 높이의 100%를 말하는 것 */
    width: 100vw; /* 100vw: 화면 넓이의 100%를 말하는 것 */
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 1s
}